@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "User";
}
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Account" asp-action="Register" class="btn btn-warning">
                    <i class="bi bi-plus-circle"></i> Register New User
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>
                    Name
                </th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(obj.ImageUrl))
                            {
                                <img src="@Url.Content(obj.ImageUrl)" alt="User Image"
                                     width="100" style="border-radius:5px; border:1px solid #ccc;" />
                            }
                        </td>
                        <td>@obj.Name</td>
                        <td>@obj.Email</td>
                        <td>@obj.PhoneNumber</td>
                        <td>@obj.UserRoles.FirstOrDefault().Role.Name</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Account" asp-action="Update" asp-route-applicationUserId="@obj.Id"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Account" asp-action="Delete" asp-route-applicationUserId="@obj.Id"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>